

#mainContainer{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px;
    margin: auto;
    margin-top: 10%;
}

#screen{
    height: 60px;
    width: 128px;
    border: 2px solid aquamarine;   
    margin: auto; 
    border-radius: 7px;
}

.row{
    display: flex;
    flex-direction: row;
    margin: auto; 
}

.row button{
    background-color: aquamarine;
    outline: none;
    border: 0;
    margin: 3px;
    height: 40px;
    width: 40px;
    border-radius: 7px;
}